<footer>

	<div class="wrapper footer-content">
		
		<div class="left">
			<p>&#169; Chris Consroe 2016</p>
		</div>

		<div class="right">
			<ul class="social-icons">
				<a href="https://www.linkedin.com/in/chrisconsroe"><i class="fa fa-linkedin"></i></a> 
				<a href="https://twitter.com/MaroonScharoun"><i class="fa fa-twitter"></i></a> 
				<a href="https://github.com/chrisconsroe"><i class="fa fa-github"></i></a> 
				<a href="hello@chrisconsroe.com"><i class="fa fa-envelope"></i></a> 
			</ul>
		</div>	

		 
	</div>		

</footer>
