<header>

  <div class="header-nav">

  	<ul class="left full-width-header-link">
  		<a href="../index.html"><li>Chris Consroe</li>
  	</ul>

	<ul class="right full-width-header-link">
		<a href="/projects/index.html"><li>Projects</li></a>
	</ul>

	<div class="nav-bar-icon right">&#9776;</div>
	<ul class="nav-bar-menu right hidden">
		<li class="nav-bar-icon">&#9776;</li>
		<a href="../index.html"><li>Chris Consroe</li>
		<a href="/projects/index.html"><li>Projects</li></a>
	</ul>

  </div>

</header>
