@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300|Source+Sans+Pro:400,300,600);

/********************** Main Styles **********************/
html, body {
	background-color: #FFFFFF;
	margin: 0px;
}

li {
	font-size: 14px;
	font-family: 'Source Sans Pro', sans-serif;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 18px;
    line-height: 30px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Source Sans Pro', sans-serif;
}

ol, ul {
	list-style: none;
	padding: 0px;
}

a {
	color: #000000;
	font-weight: 900;
	-moz-transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

a:hover, a:active, a:focus {
	text-decoration: none;
	font-weight: 900;
	color: #BFBFBF;
}

.banner-top {
	width: 100%;
}

	.banner-top img {
		width: 100%;
	}

.left {
	float: left;
}

.right {
	float: right;
}

.wrapper {
	margin: auto 60px;
}

/********************** TOP NAV STYLES **********************/
header {
	width: 100%;

}

	.header-nav li {
		display: inline-block;
		text-transform: uppercase;
		font-size: 14px;
		color: #E8E8E8;
		letter-spacing: 5px;
		min-width: 160px;
		text-align: center;
		padding: 20px 0px;
	}

	.header-nav li:hover {
		text-decoration: none;
		color: #FFFFFF;
		font-weight: 800;
		-moz-transition: all 0.1s ease;
		-webkit-transition: all 0.1s ease;
		-o-transition: all 0.1s ease;
		-ms-transition: all 0.1s ease;
		transition: all 0.1s ease;
	}

	.active {
		font-weight: 800;
	}

	.header-nav-dark li {
		color: #E8E8E8;
	}

	.header-nav-dark li:hover {
		text-decoration: none;
		color: #FFFFFF;
		font-weight: 800;
		-moz-transition: all 0.1s ease;
		-webkit-transition: all 0.1s ease;
		-o-transition: all 0.1s ease;
		-ms-transition: all 0.1s ease;
		transition: all 0.1s ease;
		/*padding: 19px 0px;*/
		/*border-bottom: solid 1px #333333;*/
	}

.header-nav-dark {
	padding: 0 60px;
	background-color: #494949;
    height: 60px;
    /*position: fixed;*/
    width: 100%;
}

/********************** FOOTER STYLES **********************/
footer {
	background-color: #E8E8E8;
	width: 100%;
	min-height: 160px;
}

.footer-content {
	text-align: center;
	padding: 70px 0px;
}

.footer-content p {
	margin-bottom: 0px;
}

.social-icons i {
		margin: auto 30px;
		font-size: 28px;
	}

/********************** HOME STYLES **********************/
.homepage-main {
	text-align: center;
	color: #FFFFFF;
	background: url("../img/background-full.svg");
	background-attachment: fixed;
	max-height: 680px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.homepage-main h1 {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 90px;
}

.homepage-main p {
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #E8E8E8;
	letter-spacing: 1px;
	font-weight: 100;
	margin: 50px 0;
}

.homepage-main a {
	color: #E8E8E8;
	font-weight: 900;
}

.homepage-main a:hover {
	color: #777777;
}

.homepage-main div {
	margin: 200px 0px;
}

.button {
	display: inline-block;
	min-width: 200px;
	font-size: 12px;
	margin: 0px auto;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #494949;
	padding: 15px 40px;
	margin: 20px 14px 0px;
	letter-spacing: 3px;
	font-weight: 100;
}

	.button:hover {
		background-color: #777777;
		color: #FFFFFF;
	}
/********************** ABOUT STYLES **********************/
.about-me-container {
	margin: 100px 60px;
	max-width: 1280px;
}

	.about-me-container h1 {
		font-size: 90px;
		margin: 0 0 50px 0;
	}

	.about-me-container p {
		margin-bottom: 24px;
	}

	.about-me-container img {
		width: 100%;
		padding: 40px 0;
	}

@media (max-width: 700px) {
	.homepage-main h1 {
		font-size: 4em;
	}

	.about-me-container {
		margin: 0px;
	}

	.about-me-container img {
		display: none;
	}

	.left li {
		display: none;
	}

	.right li {
		width: 120px;
	}

	.wrapper {
		margin: 0px 30px;
	}

	.footer-content .left {
    	float: none;
    	margin-top: 10px;
  	}

    .footer-content .right {
    	float: none;
    	margin-top: 10px;
  	}

  	.social-icons {
  		margin-bottom: 0px;
  	}

  	.social-icons i {
		margin: auto 15px;
		font-size: 30px;
	}
}
