@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300|Source+Sans+Pro:400,300,600);

a {
	text-decoration: none;
	font-weight: 900;
	color: #000000;
}

a:hover {
	text-decoration: none;
	font-weight: 900;
	color: #BFBFBF;
}

.wrapper {
	margin: auto 60px;
}

strong {
	font-weight: 800;
}

/********************** INDEX PAGE STYLES **********************/
.project-card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.project-card {
	margin: 15px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.overlay {
	background-color: rgb(0, 0, 0);
	opacity: 0;
}

.project-button {
	visibility: hidden;
	padding: 8% 20%;
	max-width: 350px;
}

.project-button h2 {
	text-align: center;
	color: #FFFFFF;
}

.project-button p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	padding: 10px 0px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 5px;
	font-weight: 400;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 3px;
	margin: 25px auto;
	max-width: 200px;
}

.project-button p:hover {
	color: #000000;
	background-color: #FFFFFF;
	font-weight: 700;
}

.project-card:hover .project-button {
	visibility: visible;
	opacity: 1;
}

.project-card:hover .overlay {
	opacity: .75;
	transition: all ease .2s;
}

#charley-site-card {
	background-image: url("../img/charley-site-card-image.png");
}

#cb-support-site-card {
	background-image: url("../img/support-site-card-image.png");
}

#salt-and-churn-card {
	background-image: url("../img/salt-and-churn-card-image.png");
}

#cb-illustrations-card {
	background-image: url("../img/cb-illustrations-card-image.png");
}

#pokedex-card {
	background-image: url("../img/pokedex-card-image.png");
}

.content-main {
	margin: 16% auto;
	max-width: 1276px;
}

.content-main h1 {
	font-size: 42px;
	text-align: center;
	margin-bottom: 40px;
}

/********************** INDIVIDUAL PAGE STYLES **********************/
.top-banner {
	width: 100%;
	min-height: 320px;
}

	#cb-support-site {
		background: no-repeat center url("../img/support-site-banner-image.png");
		-webkit-background-size: cover;
    	-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  		background-position: 0px 0px;
	}

	#salt-and-churn {
		background: no-repeat center url("../img/salt-and-churn-banner-image.png");
		-webkit-background-size: cover;
    	-moz-background-size: cover;
  		-o-background-size: cover;
		background-position: 0px 0px;
	}

	#cb-illustrations {
		background: no-repeat center url("../img/cb-illustrations-banner-image.png");
		-webkit-background-size: cover;
    	-moz-background-size: cover;
  		-o-background-size: cover;
  		background-position: 0px 0px;
	}

	#charley-site {
		background: no-repeat center url("../img/charley-site-banner-image.png");
		-webkit-background-size: cover;
    	-moz-background-size: cover;
  		-o-background-size: cover;
  		background-position: 0px 0px;
	}

	#project-pokedex {
		background: no-repeat center url("../img/pokedex-banner-image.png");
		-webkit-background-size: cover;
    	-moz-background-size: cover;
  		-o-background-size: cover;
  		background-position: 0px 0px;
	}

.project-header {
	margin-bottom: 50px;
}

.project-content {
	margin: 50px auto;
    max-width: 900px;
}

.project-content h1 {
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 4px;
	font-size: 48px;
}

.project-content h2 {
	font-size: 18px;
	margin: 5px auto;
	font-weight: 400;
}

.project-content p {
	margin: 30px 0;
	font-size: 16px;
	line-height: 1.9;
	font-weight: 400;
}

.project-content .image-caption {
	color: #777777;
	font-style: italic;
	margin-top: 10px;
	max-width: 800px;
}

.project-content img {
		box-shadow: 1px 1px 3px #EAEAEA;
		margin: 10px auto;
		max-width: 66%;
}

.project-cta-button {
	width: 100%;
	background-color: #383838;
	color: #FFFFFF;
	border: none;
	padding: 15px 0;
	margin: 30px auto;
}

.project-cta-button p {
	margin: 0;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.project-cta-button:hover {
	opacity: .5;
	transition: all ease .2s;
}

.prev {
	margin: 30px auto;
	text-transform: uppercase;
	font-size: 12px;
	color: #E8E8E8;
	letter-spacing: 3px;
}

@media (max-width: 900px) {
	.project-content {
    	padding: 0px 10px;
	}

	.project-content h1 {
		font-size: 36px;
	}

	.project-content img {
		max-width: 100%;
	}

	.top-banner {
		min-height: 150px;
	}

	.wrapper {
		margin-top: 120px auto 0px;
	}
}
