@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300|Source+Sans+Pro:400,300,600);

a {
	text-decoration: none;
	font-weight: 900;
	color: #000000;
}

a:hover {
	text-decoration: none;
	font-weight: 900;
	color: #BFBFBF;
}

.content-main .row {
	margin: auto 25px;
}

.wrapper {
	margin: auto 60px;
}

strong {
	font-weight: 800;
}

/********************** INDEX PAGE STYLES **********************/
.project-button h3 {
	text-align: center;
	color: #FFFFFF;
}

.project-button p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	padding: 8px 0px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 5px;
	font-weight: 400;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 3px;
	margin: 25px auto;
	max-width: 200px;
}

.project-button {
	visibility: hidden;
	opacity: 0;
}

.overlay {
	background-color: rgba(0, 0, 0, .75);
	height: 200px;
	width: 100%;
	padding: 20px;
	visibility: hidden;
	opacity: 0;
   	-moz-transition: opacity 0.2s ease;
	-webkit-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	-ms-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;	 
}

.project-card {
	height: 200px;
	margin: 50px auto;
	-webkit-background-size: cover;
    -moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;	  	
   	-moz-transition: opacity 0.2s ease;
	-webkit-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	-ms-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
}

.project-card:hover .project-button {
	visibility: visible;
	opacity: 1;
}

.project-card:hover .overlay {
	visibility: visible;
	opacity: 1;
}

#chartbeat-support-site-card {
	background-image: url("../img/support-site-card-image.png"); 	
}

#salt-and-churn-card {
	background-image: url("../img/salt-and-churn-card-image.png");
}

#chartbeat-illustrations-card {
	background-image: url("../img/chartbeat-illustrations-card-image.png");
}

.content-main {
	margin: 12% auto;
}

.content-main h1 {
	font-size: 42px;
	text-align: center;
	margin-bottom: 40px;
}

/********************** INDIVIDUAL PAGE STYLES **********************/
.top-banner {
	width: 100%;
	min-height: 250px;
}

	#chartbeat-support-site {
		background: no-repeat center url("../img/support-site-banner-image.png");
		background-attachment: fixed;
		-webkit-background-size: cover;
    	-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
	}

	#salt-and-churn {
		background: no-repeat center url("../img/salt-and-churn-banner-image.png");
		background-attachment: fixed;
		-webkit-background-size: cover;
    	-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
	}

	#chartbeat-illustrations {
		background: no-repeat center url("../img/chartbeat-illustrations-banner-image.png");
		background-attachment: fixed;
		-webkit-background-size: cover;
    	-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
	}

.project-header {
	margin-bottom: 50px;
}

.project-content {
	margin-top: 75px; 
	margin-bottom: 100px;
}

	.project-content h1 {
		text-transform: uppercase;
		font-weight: 800;
		letter-spacing: 4px;
		font-size: 48px;
	}

	.project-content h2 {
		font-size: 18px;
		margin: 5px auto;
		font-weight: 400;

	}

	.project-content p {
		margin: 30px 0;
    	max-width: 800px; 
    	font-size: 16px;
	}

	.project-content .image-caption {
		color: #777777;
		font-style: italic;
		margin-top: 10px;
		max-width: 800px; 
	}

	.project-content img {
		max-width: 800px;
 		box-shadow: 1px 1px 3px #EAEAEA;
 		margin: auto;
 		width: 100%;
	}	

.prev {
	margin: 30px auto;
	text-transform: uppercase;
	font-size: 12px;
	color: #E8E8E8;
	letter-spacing: 3px;
}

@media (max-width: 700px) {
	.project-content h1 {
		font-size: 36px;
	}

	.top-banner {
		min-height: 150px;	
	}

	.wrapper {
		margin: 0px 30px;
	}
}
